.image-set{
    background-color:#00171F ;
}
.image-set .card{
    margin: 0;
    padding:0;
    cursor: pointer;
    border: 0 !important;
}
.image-set .card .gallery image{
position:relative;

}

.gallery-image img{
width:100%;
box-sizing: border-box;


}
.gallery-content{
    display: flex;
    position: absolute;
    top:0;
    left:0;
    display: none;
   width:100%;
   height:100%;
   align-items: center;
   text-align: center;
   justify-content: center;
   padding:1.5rem;
   font-weight: 800;
   border-radius: 0 0 0.35em 0.35em;
background-color:#bf0603bb ;
color:white;
transition:all 0.25s ease-in-out;
}
.card:hover .gallery-content{
   display: flex;
}
.image-set .card:before ,
.image-set .card:after{
    content:'';
    width:0;
    height:0;
    position: absolute;
    opacity: 0;
    z-index: 1;
    transition: all 0.5s;
}
.image-set .card:before{
    bottom:5%;
    left:5%;
    border-bottom: 2px solid #fff;
    border-left: 2px solid #fff;
}
.image-set .card:after{
    top:5%;
    right:5%;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
}
.image-set .card:hover:before ,
.image-set .card:hover:after{
    opacity: 1;
    width:90%;
    height:90%;
}



@media(max-width:970px){

        .gallery-content{
            position: relative;
            display: block;
            background-color: white;
            color:#BF0603;
        }
      
}


